<h1>Alta Estado de Pedido</h1>

<div class="alert alert-success" role="alert">
  Estado de Pedido enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', order_statuses_path, class: 'btn btn-outline-secondary' %>
</div>