<h1>Listado de tipos de resolución</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th></th>
  </tr>

  <% @order_types.each do |order_type| %>
    <tr>
      <td><%= order_type.name_type_order %></td>
      <td><%= order_type.description_type_order %></td>
      <td><%= link_to 'Mostrar', order_type_path(order_type) %></td>
    </tr>
  <% end %>
</table>