<p>
  <strong>Nombre:</strong>
  <%= @order_type.name_type_order %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @order_type.description_type_order %>
</p>
<%= link_to 'Modificar', edit_order_type_path(@order_type) %> |
<%= link_to 'Volver al índice', order_types_path %>