<h1>Modificación tipo de pedidoo</h1>

<div class="alert alert-success" role="alert">
  Tipos de pedido enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', order_types_path, class: 'btn btn-outline-secondary' %>
</div>