<h1>Modificación Estado de Proyecto</h1>

<div class="alert alert-success" role="alert">
  Estado de Proyecto enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', project_statuses_path, class: 'btn btn-outline-secondary' %>
</div>