<% if f.object.project_funds_details.empty? %>
  <% Subsection.enabled.each do |subsection| %>
    <% f.object.project_funds_details.build(subsection_id: subsection.id) %>
  <% end %>
<% end %>

<div class="custom-tr">
  <div class="custom-td">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.fields_for :project_funds_details do |project_funds_detail_form| %>
    <div class="custom-td">
      <%= project_funds_detail_form.text_field :funds_amount, class: 'form-control' %>
      <%= project_funds_detail_form.hidden_field :subsection_id %>
    </div>
  <% end %>
  <div class="custom-td">Links</div>
</div>