<h1>Resolución de Fondos</h1>

<%= render 'model' %>

<hr/>

<%= render 'funds_destinations_index' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', funds_resolutions_path, class: 'btn btn-outline-secondary' %>
</div>