<h1>Modificación Inciso</h1>

<div class="alert alert-success" role="alert">
  Inciso enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', subsections_path, class: 'btn btn-outline-secondary' %>
</div>