<h1>Administar Usuario</h1>

<div class="alert alert-success" role="alert">
  Usuario enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', users_path, class: 'btn btn-outline-secondary' %>
</div>