<h1>Alta Perfil de Usuario</h1>

<div class="alert alert-success" role="alert">
  Perfil de Usuario enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', user_profiles_path, class: 'btn btn-outline-secondary' %>
</div>