<table class="table">
  <thead class="thead-dark">
  <tr>
    <th></th>
    <% Subsection.enabled.each do |subsection| %>
      <th>
        Inciso <%= subsection.name %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Créditos totales:</td>
    <% Subsection.enabled.each do |subsection| %>
      <td><%= @total_credits[subsection] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Gastos totales:</td>
    <% Subsection.enabled.each do |subsection| %>
      <td><%= @total_expenses[subsection] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Total disponible:</td>
    <% Subsection.enabled.each do |subsection| %>
      <td><%= @available_credits[subsection] %></td>
    <% end %>
  </tr>
  </tbody>
</table>