<h1>Cargos Universitarios</h1>

<%= render 'model' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', university_positions_path, class: 'btn btn-outline-secondary' %>
  </div>
  <% unless @university_position.is_disabled %>
  <div class="col text-right">
    <%= link_to 'Eliminar', university_position_path(@university_position),
                class: 'btn btn-outline-danger',
                method: :delete,
                data: { confirm: '¿Seguro que desea eliminar?' } %>
    <%= link_to 'Editar', edit_university_position_path(@university_position), class: 'btn btn-outline-primary' %>
  </div>
  <% end %>
</div>