<h1>Modificación Cargo Universitario</h1>

<div class="alert alert-success" role="alert">
  Cargo Universitario enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', university_positions_path, class: 'btn btn-outline-secondary' %>
</div>