<ht>Hola <%= @user.email %></ht>
<p>
  Te enviamos este correo para que realices el cambio de tu contraseña entrando a la siguiente dirección
  <%= link_to "Recuperar contraseña", @recovery_url %>
</p>