<h1>Alta Estado de Cambio de Inciso</h1>

<div class="alert alert-success" role="alert">
  Estado de Cambio de Inciso enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', subsection_shift_statuses_path, class: 'btn btn-outline-secondary' %>
</div>