// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
//*= require reports_kit/application
// Raw HTML


body {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

h1 {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
}

// Utils

.no-transitions {
  transition: none !important;
}

.w-fit {
  width: fit-content;
}

// Forms

.form-check label, .form-check-label {
  font-weight: inherit;
}

// Tables

.table td {
  vertical-align: inherit;
}

.table td.fit, .table th.fit {
  white-space: nowrap;
  width: 1%;
}

.table-disabled,
.table-disabled > th,
.table-disabled > td {
  color: rgba(33,37,41,0.5);
  font-style: italic;
  background-color: #fff5f5;
}

.table-disabled th,
.table-disabled td,
.table-disabled thead th,
.table-disabled tbody + tbody {
  border-color: #dee2e6;
}

.table-hover .table-disabled:hover > td,
.table-hover .table-disabled:hover > th {
  background-color: #ececec;
}

// Línea separadora para Row/Col

.row.vertical-divider > div[class^="col"] {
  border-left: 1px solid #000000;
}
.row.vertical-divider div[class^="col"]:first-child {
  border-left: none;
}
// Navbar
#navbar_id {
  border-style: double;
  background:linear-gradient(#565656, #B4BBFF);
  border-radius: 20px;
}

// Sidebar
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}

// Sidebar and content

.wrapper {
  flex: 6;
  overflow: auto;
}

#sidebar {
  min-width: 350px;
  transition: all 0.4s;
  overflow: hidden;
  flex: 1;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  border-style: outset;
  margin-top: 5px;
  background:linear-gradient(#E8F3FF, #E1E1E1);
  border-radius: 20px;
}

#sidebar.toggled {
  min-width: 0;
  flex: 0;
}

#content {
  flex: 1;
  padding: 1rem 3rem;
  transition: all 0.4s;
}

#sidebar-toggler {
  margin-left: -1px;
  position: absolute;
  top: 100px;
  border-radius: 0 .25rem .25rem 0;
}

#sidebar-toggler span {
  transition: all 0.5s;
}

#sidebar-toggler.toggled span {
  transform: rotate(180deg);
}

#sidebar-toggler.btn:focus,
#sidebar-toggler.btn:active {
  outline: none !important;
  box-shadow: none;
}
#sidebar a:hover {
  background-color: SkyBlue;
}