<h1>Alta Estado de Valor</h1>

<div class="alert alert-success" role="alert">
  Estado de Valor enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', value_statuses_path, class: 'btn btn-outline-secondary' %>
</div>