<h1>Modificación Tipo de Resolución</h1>

<div class="alert alert-success" role="alert">
  Tipo de Resolución enviado con éxito.
</div>

<%= render 'model' %>

<div class="col text-left">
  <%= link_to 'Volver al índice', resolution_types_path, class: 'btn btn-outline-secondary' %>
</div>